figure.caption {
    float: right;
    max-width: 50%;
    border: 1px solid var(--md-typeset-table-color);
    padding: 0 1em;
    margin-top: 0;
}

.md-typeset a {
    transition: color 125ms, text-decoration 125ms;
}

.md-typeset a:hover {
    text-decoration: underline;
}

.red-link {
    color: #ff5252;
    transition: text-decoration 125ms;
}

.red-link:hover {
    text-decoration: underline;
}

/* Infobox */

.infobox {
    max-width: 40%;
    min-width: 40%;
    float: right;
    margin-left: .75rem;
    margin-bottom: .75rem;
    border: .05rem solid var(--md-typeset-table-color);
}

.infobox .title {
    text-align: center;
    background-color: #303b74;
    font-weight: bold;
    margin: 0;
    padding: .5rem .25rem;
}

.infobox .tabbed-set {
    margin: 0;
}

.infobox .md-typeset__scrollwrap {
    margin: 0;
}

.infobox .icon {
    text-align: center;
}

.infobox .icon img {
    padding: .25rem;
}

.infobox-table {
    display: table;
    border-collapse: initial;
    border-spacing: 0;
    width: 100%;
    border: .05rem solid var(--md-typeset-table-color);
    border-radius: .1rem;
    font-size: .64rem;
    overflow: auto;
}

table.infobox-table tbody tr {
    transition: background-color 125ms;
}

table.infobox-table tbody tr:nth-of-type(2n+1) {
    background-color: var(--md-typeset-table-row-color);
}

table.infobox-table tbody tr:hover {
    background-color: var(--md-typeset-table-color--light);
    box-shadow: 0 .05rem 0 var(--md-default-bg-color) inset;
}

table.infobox-table td {
    border-top: .05rem solid var(--md-typeset-table-color);
    padding: .9375em 1.25em;
    vertical-align: middle;
}