figure.caption {
    float: right;
    max-width: 50%;
    border: 1px solid var(--md-typeset-table-color);
    padding: 0 1em;
    margin-top: 0;
}

.md-typeset a {
    transition: color 125ms, text-decoration 125ms;
}

.md-typeset a:hover {
    text-decoration: underline;
}

.red-link {
    color: #ff5252;
    transition: text-decoration 125ms;
}

.red-link:hover {
    text-decoration: underline;
}